<script src="https://kit.fontawesome.com/fe9f1febdf.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<button id="btn-menu" routerLink="">Menu</button>
    <div class="login-container">
        <div class="login">
            <p id="title">Inicio de sesión</p>
            <input #name id="name" placeholder="Mail">
            <input #password id="password" placeholder="Contraseña" type="password">
            <button (click)="login(name.value, password.value)" id="btn">Iniciar Sesión</button>
            
            <div class="google-btn">
                <div class="google-icon-wrapper">
                    <button (click)="loginWithGoogle()" style="background-color: white; border: none; cursor: pointer;">
                        <img style="width: 5vw; height: 5vh; background-color: white;" class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                    </button>           
                </div>
              </div>
              <a style="margin: 2vh;"id="link" routerLink="/register">¿No tenés cuenta?</a>
        </div>
    </div>