body{
    font-family: 'Montserrat', sans-serif;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.register{
    margin: auto;
    display: grid ;
    place-items: center;
    
    height: 100px;
    width: 100vw;

    color: #333;
}
#name, #mail{
    height: 7.5vh;
    margin-bottom: 2vh;
    width: 14.2vw;

}
#name{
    margin-right: 1vw;
}
#password{
    height: 7.5vh;
    width: 30vw;
    margin-bottom: 2vh;
}
#title{
    font-size: xx-large;
}
#btn-menu{
    transition: ease-in-out .3s;
    background-color: white;
    height: 5vh;
    width: 5vw;
}
#btn-menu:hover{
    color: white;
    background-color: black;
    transition: ease-in-out .3s;
    cursor: pointer;
}

#btn{
    height: 7.5vh;
    width: 30.8vw;
    font-size: 1.3vw;
    transition: ease-in-out .3s;
    margin-bottom: 5vh;
    background-color: white;
}
#btn:hover{
    color: white;
    background-color: black;
    transition: ease-in-out .3s;
    cursor: pointer;
}
#link{
    text-decoration: none;
    color: black;
}
input{
    font-size: medium;
}