<button id="btn-menu" routerLink="">Menu</button>
    <div class="login-container">
        <div class="login">
            <p id="title">Inicio de sesión</p>
            <input #name id="name" placeholder="Mail">
            <input #password id="password" placeholder="Contraseña" type="password">
            <button (click)="login(name.value, password.value)" id="btn">Iniciar Sesión</button>
            <a id="link" routerLink="/register">¿No tenés cuenta?</a>
            
        </div>
    </div>